.container {
  height: 18vh;
  margin-top: 4vh;
}

ion-title {
  font-size: 3vh;
  font-weight: 400;
  padding: 0;
  margin: 1vh 10vw;
  position: relative;
  height: auto;
  text-align: start;
}

swiper-container {
  width: auto;
  height: auto;
}

swiper-slide {
  width: auto;
}

.no-cards {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}