<div class="container">
  <ion-title [style.color]="(isDisabled) ? 'var(--lightgrey)': ''">
    <ng-content select=[sectionTitle]></ng-content>
  </ion-title>
  <swiper-container space-between="15" slides-per-view="auto" [slidesOffsetBefore]="40" [enabled]="!isDisabled">
    @for (card of specialCards; track $index) {
      <swiper-slide>
        <app-special-card [card]="card"></app-special-card>
      </swiper-slide>
    }
    @for (card of cards; track $index) {
      <swiper-slide>
        <app-card [card]="card" [isDisabled]="isDisabled"></app-card>
      </swiper-slide>
    }
  </swiper-container>
</div>
