<ion-card>
  <ion-card-header>
    <div class="title-container">
      <ion-card-title>{{ card ? card.title : '' }}</ion-card-title>
    </div>
    <ion-card-subtitle>{{ date | date: "dd/MM/yy '-' HH:mm" }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-progress-bar [buffer]="progress" [value]="progress"></ion-progress-bar>
    <ion-list>
      @for (exercise of exercises; track $index) {
        <ion-checkbox text-wrap labelPlacement="start" [checked]="exercise.checked" (ionChange)="onCheckChange($event, exercise)">
          <ion-label>
            <h1>{{ exercise.title }}</h1>
            <p>{{ exercise.description }}</p>
          </ion-label>
        </ion-checkbox>
      }
    </ion-list>
  </ion-card-content>
</ion-card>