<ion-menu side="end" content-id="header" (ionDidOpen)="onOpenNotifications()">
  <app-notifications [notifications]="notifications"></app-notifications>
</ion-menu>
<ion-header class="ion-no-border" id="header">
  <div class="container">
    <section>
      <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="logo" src="../../../assets/jpg/logo.jpg" alt="logo">
        <ion-fab horizontal="end">
          <ion-fab-button class="btn-notifications" (click)="onClickNotifications()">
            <ion-icon name="notifications"></ion-icon>
          </ion-fab-button>
          @if (hasUnreadNotifications()) {<ion-badge>.</ion-badge>}
        </ion-fab>
      </ion-toolbar>
    </section>
    <section class="user">
      <ion-avatar>
        <img alt="avatar" src="../../../assets/jpg/avatar.jpg" />
      </ion-avatar>
      <ion-label class="label">
        <h1 class="name">Leonardo Santos</h1>
        <p class="level">Nível Roxo</p>
      </ion-label>
    </section>
    <section class="navbar">
      <ion-chip class="chip ion-justify-content-around">
        <div class="content">
          <app-fab iconName="accessibility" iconWidth="2vw" width="5vw" height="5vw"></app-fab>
          MEU CORPO
        </div>
        <div class="content">
          <app-fab iconName="trophy" iconWidth="2vw" width="5vw" height="5vw"></app-fab>
          OBJETIVOS E CONQUISTAS
        </div>
      </ion-chip>
    </section>
  </div>
</ion-header>