ion-card {
  margin: 0;
  border-radius: 16px;
}

ion-card img {
  height: 15vh;
  width: 60vw;
}

ion-card ion-card-header {
  position: absolute;
  bottom: 0;
  font-family: 'Oswald';
}

ion-card-subtitle {
  color: var(--orange);
  font-size: 12px;
}

ion-card-title {
  color: var(--white);
  font-size: 16px;
  margin: 0;
}