.container {
  font-family: 'Oswald';
  color: var(--white);
}

.title-container {
  display: flex;
  align-items: center;
  app-fab {
    margin-left: 2vw;
    color: var(--orange);
  }
}

ion-badge {
  border-radius: 48px;
  font-family: 'Oswald';
  font-size: 0.9vh;
  font-weight: 300;
  position: absolute;
  top: 1vh;
  margin-left: 1vh;
  background-color: var(--orange);
}