<div class="container">
  <app-content-section [specialCards]="specialCards" [cards]="personal">
    <div class="title-container" sectionTitle>
      PERSONAL ONLINE
      <app-fab iconName="add" iconWidth="3vw" width="5vw" height="5vw" (click)="onClickAdd()"></app-fab>
    </div>
  </app-content-section>
  <app-content-section [cards]="programs">
    <div sectionTitle>
      PROGRAMAS
      <ion-badge>NOVO</ion-badge>
    </div>
  </app-content-section>
  <app-content-section [cards]="contents" [isDisabled]="true">
    <div sectionTitle>
      CONTEÚDOS
    </div>
  </app-content-section>
</div>