.btn-fab {
  // --border-color: var(--color);
  --color: var(--color);
  --border-width: 1px;
  --border-style: solid;
  --background: transparent;
  width: var(--width);
  height: var(--height);
  margin-right: 4px;
}

.btn-fab ion-icon {
  height: var(--icon-width);
}